    <!-- About start here -->
    <section class="mb-20">
      <div class="max-w-[660px] mx-auto px-4">
        <!-- Title -->
        <h2 class="text-lg font-bold text-gray-400 mb-6 tracking-wide ">ABOUT ME</h2>
        
        <!-- Content -->
        <div class="space-y-6 text-gray-800">
          <p class="leading-relaxed">
            I’m curious in a little bit of everything.
          </p>
          
          <p class="leading-relaxed text-gray-400">
            I especially love beautiful stories and digital experiences. Other's works have sparked inspirations in me; hope mine could spark something in you.
          </p>
          
          <!-- Social Links -->
          <div class="pt-4">
            <a href="mailto:hi@galih.design" target="_blank" class="inline-block w-[60px] text-center mr-10 text-gray-800 hover:text-gray-900 hover:font-bold transition">Email ></a>
            <a href="https://www.linkedin.com/in/galihputra26/" target="_blank" class="inline-block w-[82px] text-center mr-10 text-gray-800 hover:text-gray-900 hover:font-bold transition">LinkedIn ></a>
            <a href="https://medium.com/@galihputra26" target="_blank" class="inline-block w-[80px] text-center mr-10 text-gray-800 hover:text-gray-900 hover:font-bold transition">Medium ></a>
            <a href="https://docs.google.com/document/d/1vhasNT-yY3u61SPTD0HinDPA9PdAYURqAzUzEzsmOyI/edit?usp=sharing" target="_blank" class="inline-block w-[81px] text-center text-gray-800 hover:text-gray-900 hover:font-bold transition">Resume ></a>
          </div>
        </div>
      </div>
    </section>
    <!-- About end here -->