<!-- Header start here -->
    <div class="fixed top-0 left-0 w-full z-50 bg-gradient-to-b from-gray-100 via-gray-100 to-transparent">
        <header class="max-w-[660px] mx-auto px-4 py-10 flex justify-between items-center text-sm text-gray-800">
        
          <!-- Logo -->
          <a href="/" class="text-lg font-medium text-gray-800">galih.design</a>

        <!-- Navigation -->
          <nav class="flex space-x-6">
            <a href="index.html" class="relative font-semibold text-gray-800">DESIGN <span class="absolute -bottom-1.5 left-1/2 -translate-x-1/2 w-1 h-1 rounded-full bg-gray-800"></span></a>
            <a href="blog.html" class="font-semibold text-gray-400 hover:text-gray-800">THOUGHT</a>
            </nav>
        </header>
    </div>
    <!-- Header end here -->
